<form action="/albums" method="post">
<label for="artist_id">Artist:</label>
<input type="text" name="artist_id"></input>

<label for="name">Name:</label>
<input type="text" name="name"></input>

<button type="submmit">Add Album</button>
  
</form>